:root {
  --kiosk-primary: #d32f2f;      /* Rosso per i bottoni/azioni principali */
  --kiosk-bg-card: #ffffff;      /* Sfondo delle card */
  --kiosk-bg-app: #f4f6f8;       /* Sfondo generale */
  --kiosk-text: #333333;         /* Colore del testo */
  --kiosk-radius: 12px;          /* Arrotondamento bordi */
}/* You can add global styles to this file, and also import other style files */
